*
!mvnw
!mvnw.cmd
!pom.xml
!src/**
!Dockerfile
!docker-compose.yml
!README.md
!render.yaml
!.mvn/**
# Hanya sertakan output build jika memang dibutuhkan
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
